/*=============================================================
                Auction Details CSS
 =============================================================*/
.product_carousel_section .product_slider_thumbs .swiper-slide,
.auction_carousel_section .product_slider_thumbs .swiper-slide {
    opacity: 0.6;
}

.product_carousel_section .product_slider_thumbs .swiper-slide-thumb-active,
.auction_carousel_section .product_slider_thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.hover-wrapper:hover #zoomResult {
    display: block;
}

#lens {
    position: absolute;
    border: 2px solid rgba(52, 158, 226, 0.8);
    z-index: 100;
    pointer-events: none;
    display: none;
    /* No fixed width/height here — JS will handle it */
}

#zoomResult {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 200%;
    z-index: 99;
    background-color: #fff;
    border: 1px solid #ddd;
}

/*=============================================================
                Bradcam CSS
 =============================================================*/
.bracamb-dot::before {
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #8752FA;
    display: inline-block;
    margin-right: 3px;
}