@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-moz-range-thumb {
    @apply w-5 h-5 mt-1 rounded-full bg-bg-white border-2 border-border-primary cursor-pointer pointer-events-auto;
}
input[type="range"]::-webkit-slider-thumb {
    @apply w-5 h-5 mt-1 rounded-full bg-bg-white !border-2 border-solid !border-border-primary cursor-pointer pointer-events-auto appearance-none;
}

@layer base {
    body {
        @apply font-poppins bg-bg-white text-text-primary dark:bg-bg-dark dark:text-text-white;
    }

    ul,
    li {
        @apply list-none m-0 p-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-inter font-bold;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    :root {
        --primary: theme(colors.bg.primary);
        --secondary: theme(colors.bg.dark);
    }

    /* For Firefox  */
    * {
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: var(--primary) var(--secondary) !important;
    }

    /* For Webkit-based browsers (Chrome, Edge, Safari) */
    *::-webkit-scrollbar {
        height: 8px;
        width: 8px;
        background-color: var(--secondary) !important;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--primary) !important;
        border-radius: 9999px !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--primary) !important;
    }

    *::-webkit-scrollbar-corner {
        background: transparent;
    }
    .icon-hover-effect{
        @apply transition-all duration-300 group-hover:bg-bg-primary
    }
    .text-hover-effect{
        @apply transition-all duration-300 group-hover:text-text-tertiary dark:group-hover:text-text-white
    }
    .active{
        @apply dark:bg-bg-tertiary
    }
    .active .icon-hover-effect{
        @apply bg-bg-primary
    }
    .active span{
        @apply text-text-tertiary dark:text-text-white
    }
    .btn_active{
        @apply !bg-bg-tertiary
    }

}

input[type="range"]::-moz-range-thumb {
    @apply w-5 h-5 mt-1 rounded-full bg-bg-white border-2 border-border-primary cursor-pointer pointer-events-auto;
}

input[type="range"]::-webkit-slider-thumb {
    @apply w-5 h-5 mt-1 rounded-full bg-bg-white !border-2 border-solid !border-border-primary cursor-pointer pointer-events-auto appearance-none;
}

/* Custom Cursor  */
@layer components {
    .cursor-wrapper {
        @apply fixed top-0 left-0 pointer-events-none transform transition-transform duration-300 ease-out will-change-transform -translate-x-1/2 -translate-y-1/2 z-[9999999999999];
    }

    .cursor-wrapper .custom-cursor {
        @apply w-7 h-7 border-2 border-border-orange border-opacity-45 rounded-full pointer-events-none scale-100 transition-all duration-200 ease-out will-change-transform z-[9999999999999];
    }

    .cursor-wrapper .custom-cursor.click {
        @apply bg-bg-danger bg-opacity-50 shadow-[0_0_15px] shadow-bg-danger;
    }

    .star {
        @apply fixed w-1.5 h-1.5 bg-star rounded-full pointer-events-none animate-starFade z-[9999999999999];
    }
}

/* Buttons */
@layer components {
    .btn-search {
        @apply py-2 pl-4 pr-8 text-text-white bg-bg-primary !rounded-r-full font-medium transition-all duration-300 relative overflow-hidden;

        @apply after:content-[''] after:absolute after:w-5 after:h-[200%] after:bg-bg-light after:opacity-30 after:backdrop-blur-md after:left-[200%] after:z-[1] after:rounded-full after:transition-all after:duration-500 after:ease-linear after:-top-5 after:rotate-45;

        @apply hover:after:-left-full;
    }

    .btn-primary {
        @apply py-1 px-4 sm:py-2 sm:px-5 md:py-2 md:px-6 text-text-white bg-bg-primary rounded-full font-medium transition-all duration-300 relative overflow-hidden flex flex-row items-center justify-center w-fit;

        @apply after:content-[''] after:absolute after:w-5 after:h-[200%] after:bg-bg-light after:opacity-30 after:backdrop-blur-md after:left-[200%] after:z-[1] after:rounded-full after:transition-all after:duration-500 after:ease-linear after:-top-5 after:rotate-45 after:overflow-hidden;

        @apply hover:after:-left-full;
    }

    .btn-secondary {
        @apply py-1 px-4 sm:py-2 sm:px-5 md:py-2 md:px-6 text-text-primary dark:text-text-white bg-transparent border border-bg-primary rounded-full font-medium transition-all duration-300 relative overflow-hidden flex flex-row items-center justify-center w-fit;

        @apply after:content-[''] after:absolute after:w-5 after:h-[200%] after:bg-bg-light after:opacity-30 after:backdrop-blur-md after:left-[200%] after:z-[1] after:rounded-full after:transition-all after:duration-500 after:ease-linear after:-top-5 after:rotate-45 after:overflow-hidden;

        @apply hover:after:-left-full hover:text-text-white hover:bg-bg-primary;
    }
}

/* Input fieldset */
@layer components {
    input {
        @apply p-4 bg-transparent transition-all duration-300 ease-linear focus:outline-0 focus-within:outline-0 focus:ring-0 focus:border-border-primary focus-within:border-border-primary w-full;
    }

    .input {
        @apply focus:outline-0 focus-within:outline-0 focus:ring-0 focus:border-border-primary focus-within:border-border-primary w-full pr-0 shadow-shadowPrimary transition-all duration-300 ease-linear;
    }
}

.swiper-button {
    @apply after:content-none text-text-primary w-10 h-10 bg-bg-dark bg-opacity-10 dark:bg-bg-light dark:bg-opacity-10 rounded-full flex items-center justify-center transition-all duration-300 ease-linear;
    @apply hover:bg-opacity-30;
}

.swiper-button svg,
.swiper-button i {
    @apply w-full;
}

.swiper-pagination-bullet {
    @apply w-2 h-2 bg-bg-primary dark:bg-bg-light;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply relative !mx-3;
    @apply after:content-[''] after:absolute after:w-[250%] after:h-[250%] after:bg-transparent after:border-2 after:border-t-transparent after:border-bg-primary after:rounded-full after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:z-[1] after:animate-dotRotate;
}
.loading-spinner {
    @apply w-10 h-10 border-2 border-solid border-primary rounded-full animate-spin;
}
